:root {
    --cor0: #f0a352;
    --cor1: #d29554;
    --cor2: #ffd19f;


}

@font-face {
    font-family: 'OCR A Extended';
    src: url('OCRAExtended.eot');
    src: url('OCRAExtended.eot?#iefix') format('embedded-opentype'),
        url('OCRAExtended.woff2') format('woff2'),
        url('OCRAExtended.woff') format('woff'),
        url('OCRAExtended.ttf') format('truetype'),
        url('OCRAExtended.svg#OCRAExtended') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-1 {
    font-family: OCR A Extended, sans-serif;
}

.layout {
    display: grid;
    /* gap: 4px; */
    /* grid-template-rows: 20vh max-content 20vh; */
    grid-template-rows: max-content 40vh 20vh;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header' 'main' 'footer';
    height: 100vh;
}

/* body
{
    background-color: black;
} */

/* LAYOUT */
header {
    grid-area: header;
}

main {
    grid-area: main;

}

footer {
    grid-area: footer;
}


/* CABEÇALHO PARTE 1*/

header {
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 80%);
}

.cab-part-1 {
    /* padding-bottom: 100px; */
    background-color: black;
    box-shadow: 100px 0px 100px black,
        -100px 0px 100px black;
    color: white;
    display: flex;
    justify-content: space-between;

    img {
        width: 20vh;
        margin-left: 60px;
    }

    ul {
        margin-right: 20px;
        right: 0;
        display: flex;
        align-items: center;
    }

    ul li {
        margin: 0 3vw;
        list-style: none;
        font-size: 1.3vw;
        transition: .1s;
    }

    ul li:hover {
        color: var(--cor2);
        text-shadow: 0 0 10px var(--cor2);
        cursor: pointer;
        transform: scale(1.2);
    }

    ul button {
        margin: 0 60px;
        width: 10vw;
        height: 7vh;
        font-size: 1.3vw;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 20px;
        color: white;
        cursor: pointer;
        transition: .2s;
    }

    ul button:hover {
        color: white;
        font-weight: bold;
        background-color: var(--cor1);
        box-shadow: 0 0 30px var(--cor1);
        border: 1px solid var(--cor1);
        transform: scale(1.1);
    }
}

/* CABECALHO PARTE 2 */

.cab-part-2 {

    /* transform: translateY(-60px); */
    /* background-color: black; */
    .imagem-fundo img {
        width: 100%;
    }
}

.imagem-fundo {
    --animate-duration: .6s;
    background-color: black;
    box-shadow: 0 30px 50px black,
        100px 0px 50px black,
        -100px 0px 50px black;
    position: relative;

    button {
        width: 10vw;
        height: 7vh;
        position: absolute;
        bottom: 12vh;
        left: 10vw;
        background-color: transparent;
        border: 3px solid #ffffff;
        border-radius: 20px;
        color: #ffffff;
        font-weight: bold;
        font-size: 2.6vh;
        cursor: pointer;
        transition: .2s;
    }

    button:hover {
        transform: scale(1.1);
    }

    .texto-img {
        width: max-content;
        height: 35vh;
        /* border: 1px solid white; */
        position: absolute;
        top: 40%;
        left: 35%;
        font-family: Roboto, sans-serif;
        font-weight: 200;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 5vw;
        /* font-size: clamp(100px,4vw, 32px); */
        text-align: left;

        span{
            color: var(--cor0);
            font-weight: 500;
        }
    }

}

header,
.imagem-fundo,
.imagem-fundo img {
    border-radius: 0 0 100px 100px;
}